body {
   margin: 0;
   display: flex;
   justify-content: space-between;
   background: none transparent;
   color: var(--primary-text);
}

.page-content-wrapper {
   background-color: var(--primary-background);
   color: var(--primary-text);
   max-width: var(--p-max-width);
   min-width: var(--p-max-width);
   padding-right: 1rem;
   padding-left: 1rem;
   height: 100dvh;
   overflow-y: scroll;
   padding-bottom: 1rem;
   overscroll-behavior: contain;

   >#description>p:first-of-type {
      font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
      font-size: 2.5rem;
      line-height: 1.1;
      white-space: wrap;
      word-break: break-word;
   }

   & ::-webkit-scrollbar {
      width: 0.5em;
      height: 0.5em;
   }

   & ::-webkit-scrollbar-track {
      border: 1px solid #aaa;
   }

   & ::-webkit-scrollbar-thumb {
      background: var(--header-text);
   }

   & ::-webkit-scrollbar:hover {
      cursor: pointer;
   }

   & p {
      line-height: 1.5;
   }

   & ul,
   & ol {
      margin: 1rem 2rem;
   }
}

@media (prefers-reduced-motion: no-preference) {
   .page-content-wrapper {
      scroll-behavior: smooth;
   }
}

.section-title {
   padding-left: 0rem;
   margin-bottom: 0rem;
   white-space: wrap;
   overflow-wrap: break-word;
   font-size: larger;
   font-size: 1.5rem;
}

table.parameters {
   width: 100%;
   border-collapse: collapse;
   margin-top: 1rem;

   & tbody tr td {
      padding: 0.5rem;
      vertical-align: text-top;
   }

   & tbody tr td:nth-child(1) {
      width: 10rem;
      min-width: 10rem;
      padding-right: 1rem;
      word-wrap: break-word;
   }

   & caption,
   & div.description .title {
      text-align: left;
      text-transform: uppercase;
      overflow-wrap: break-word;
      font-size: small;
   }

   & tbody tr:nth-child(even) {
      border-top: 1px solid var(--active-background);
      border-bottom: 1px solid var(--active-background);
   }

   & tbody tr:last-child {
      border-bottom: 0;
   }

   & tbody tr>td:first-child {
      padding-left: 0;
   }
}

div[itemprop="returnvalue"]>p {
   padding-top: 8px;
}

#description {
   margin-block: 1rem;
   margin-inline: 1rem;

   &:empty {
      margin-block: 0rem;
   }

   >p:not(:first-of-type) {
      margin-bottom: 1rem;
      font-size: 1rem;
   }

   & pre {
      overflow: visible;
      margin: 0.5rem 0 1rem;
      font-size: 1rem;
      font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
   }
}

div.description {
   margin-top: 1rem;
}

.entity {
   padding: 1rem;
   margin-top: 1rem;

   &:target {
      outline: 5px solid var(--header-text);
   }

   .ada-code-snippet {
      overflow: visible;
      margin: 0.5rem 0 1rem;
      font-size: 1rem;
      font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
   }
}

.hljs {
   color: #24292e;
   background: var(--active-background) !important;
}

#sidebar-wrapper {
   flex-grow: 0 !important;
   height: 100svh !important;
   min-width: 18rem;
   margin-right: 0 !important;
}

#scrolltop {
   right: 1.5rem;
}

#scrolltop2 {
   left: calc(var(--p-max-width) - 7rem);
   right: initial;
}

@media only screen and (max-width: 600px) {
   nav#top {
      margin: 0;
   }

   .page-content-wrapper,
   #sidebar-wrapper {
      margin: 0;
      padding: 0;
      min-width: initial;
      max-width: initial;
      height: initial !important;
      overflow: visible;
   }

   #sidebar-wrapper {
      display: none;
   }

   .entity {
      margin: 0.5rem;
      padding: 0.5rem;
      outline: none;
   }

   :root {
      --p-max-width: 100%;
   }

   body {
      display: flex;
      flex-direction: column-reverse;
      overflow: visible;
   }

   main {
      display: flex;
      overflow: visible;
      flex-direction: column-reverse;
   }
}