*,
*::before,
*::after {
   box-sizing: border-box;
}

* {
   margin: 0;
   padding: 0;
}

:root {
   --primary-background: #ffffff;
   --primary-text: #212121;
   --header-background: #242526;
   --header-text: rgba(129, 139, 152, 0.3);
   --active-background: rgba(129, 139, 152, 0.3);
   --search-height: 70vh;
   --p-max-width: 75ch;
   --header-size: 53px;
}

html {
   font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   text-rendering: optimizelegibility;
   color-scheme: dark light;
   scroll-behavior: smooth;
   -moz-text-size-adjust: none;
   -webkit-text-size-adjust: none;
   text-size-adjust: none;
   interpolate-size: allow-keywords;
}

body {
   background-color: var(--primary-background);
   accent-color: var(--primary-background);
   overflow: hidden;
}

table,
math,
time[datetime*=":"] {
   font-variant-numeric: tabular-nums lining-nums;
}

.prose {
   font-variant-numeric: oldstyle-nums;
}

.prose abbr {
   font-variant-caps: all-small-caps;
}
.tech {
   font-variant-numeric: diagonal-fractions;
}

/* responsive images/videos */
img,
picture,
svg,
video {
   max-width: 100%;
   display: block;
}

/* Improved heading in supported browsers */
h1,
h2,
h3,
h4,
h5,
h6 {
   text-wrap: balance;
}

/* improve readability with max-width on paragraphs and lists */
/* prevent orphans in supported browsers */
p {
   max-width: var(--p-max-width);
   text-wrap: pretty;
}

:root:has(#theme [value="☀️"]:checked) {
   color-scheme: light;
   --primary-background: #ffffff;
   --primary-text: #212121;
   --header-background: #242526;
   --header-text: rgba(129, 139, 152, 0.3);
   --active-background: rgba(129, 139, 152, 0.3);
   --selection-background: hotpink;
   --selection-text: white;
}

ul[role='list'],
ol[role='list'] {
   list-style: none;
}

a:not([class]) {
   text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
   max-width: 100%;
   height: auto;
   vertical-align: middle;
   font-style: italic;
   background-repeat: no-repeat;
   background-size: cover;
}

button:not(:disabled) {
   cursor: pointer;
}

input,
button,
textarea,
select {
   font: inherit;
}

:target {
   scroll-margin-block: 2lh;
}

:is(a:link, a:hover, a:visited, a:active) {
   color: var(--primary-text);
   text-decoration: none;
}
.d-none {
   display: none;
}
.d-block {
   display: block;
}
@media (prefers-reduced-motion: reduce) {
   html:focus-within {
      scroll-behavior: auto;
   }

   *,
   *::before,
   *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
      transition: none;
   }
}