.visually-hidden {
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   height: 1px;
   overflow: hidden;
   position: absolute;
   white-space: nowrap;
   width: 1px;
}

.color-picker>fieldset {
   border: 0;
   display: flex;
   gap: 2rem;
   width: fit-content;
   background-color: var(--header-text);
   padding: 1rem 1.5rem;
   margin-inline: auto;
   border-radius: 1rem;
}

.color-picker input[type="radio"] {
   appearance: none;
   width: 1rem;
   height: 1rem;
   outline: 3px solid var(--radio-color, currentColor);
   outline-offset: 3px;
   border-radius: 50%;
   cursor: pointer;
}

.color-picker input[type="radio"]:checked {
   background-color: var(--radio-color);
}

.color-picker input[type="radio"]#light {
   --radio-color: gray;
}

.color-picker input[type="radio"]#pink {
   --radio-color: pink;
}

.color-picker input[type="radio"]#blue {
   --radio-color: blue;
}

.color-picker input[type="radio"]#green {
   --radio-color: green;
}

.color-picker input[type="radio"]#dark {
   --radio-color: #232323;
}

:root:has(#pink:checked) {
   --primary-background: hsl(310 50% 90%);
   --primary-text: hsl(310 50% 15%);
   --header-background: hsl(310 50% 100%);
   --header-text: hsl(310 50% 25%);
   --active-background: rgba(129, 139, 152, 0.1);
}

:root:has(#blue:checked) {
   --primary-background: hsl(209 50% 90%);
   --primary-text: hsl(209 50% 15%);
   --header-background: hsl(209 50% 100%);
   --header-text: hsl(209 50% 25%);
   --active-background: rgba(129, 139, 152, 0.1);
}

:root:has(#green:checked) {
   --primary-background: hsl(109 50% 90%);
   --primary-text: hsl(109 50% 15%);
   --header-background: hsl(109 50% 100%);
   --header-text: hsl(109 50% 25%);
   --active-background: rgba(129, 139, 152, 0.1);
}

:root:has(#dark:checked) {
   --primary-background: hsl(209 50% 10%);
   --primary-text: hsl(209 50% 90%);
   --header-background: hsl(209 50% 5%);
   --header-text: hsl(209 50% 60%);
   --active-background: hsl(209 50% 80%);
}

.pink {
   --primary-background: hsl(310 50% 90%);
   --primary-text: hsl(310 50% 15%);
   --header-background: hsl(310 50% 100%);
   --header-text: hsl(310 50% 25%);
   --active-background: rgba(129, 139, 152, 0.1);
}

.blue {
   --primary-background: hsl(209 50% 90%);
   --primary-text: hsl(209 50% 15%);
   --header-background: hsl(209 50% 100%);
   --header-text: hsl(209 50% 25%);
   --active-background: rgba(129, 139, 152, 0.1);
}

.green {
   --primary-background: hsl(109 50% 90%);
   --primary-text: hsl(109 50% 15%);
   --header-background: hsl(109 50% 100%);
   --header-text: hsl(109 50% 25%);
   --active-background: rgba(129, 139, 152, 0.1);
}

.dark {
   --primary-background: hsl(209 50% 10%);
   --primary-text: hsl(209 50% 90%);
   --header-background: hsl(209 50% 5%);
   --header-text: hsl(209 50% 60%);
   --active-background: hsl(209 50% 80%);
}

@media only screen and (max-width: 600px) {

   .color-picker {

      margin: auto;

      > fieldset {
         padding: 1rem;
         margin-top: 10px;
         height: 3rem;
      }
   }
}